.user {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid grey;
  color: #4f5c6b;
  font-weight: bold;
}

.selected {
  background-color: #dddde3;
}
